{% extends "main.html" %}

<!-- Content -->
{% block content %}
<h1>Not found</h1>
<p>
  It looks like we don't have a Wiki page for this course yet, or you may have
  mistyped this URL.
</p>
<p>
  To request a Wiki page for this course, please
  <a href="https://github.com/hkn-alpha/website/issues">open a GitHub issue</a>
  and we'll get to it as soon as we can. Or, if you want to write the Wiki page
  for this course, follow the contributing instructions in our
  <a href="https://github.com/hkn-alpha/wiki">GitHub repository</a>. Thank you!
</p>
{% endblock %}
