@import url("https://use.typekit.net/poe6lqr.css");

:root {
  --md-primary-fg-color: #0f2040;
  --md-default-fg-color: white;
  --md-accent-fg-color: #123d8c;
  --md-text-font: adelle-sans, Arial, sans-serif;
}

.md-search__form {
  background-color: #2f3e59 !important;
}

[data-md-toggle="search"]:checked
  ~ .md-header
  .md-search__input
  + .md-search__icon,
[data-md-toggle="search"]:checked ~ .md-header .md-search__form,
input {
  color: white !important;
}

input::placeholder {
  color: #aeb5bf !important;
}

.md-typeset a,
.md-nav__link--active {
  color: #174eb3 !important;
}

.md-footer {
  display: none;
}

@media (min-width: 1300px) {
  :root {
    --graph-extension: 14.5rem;
  }
}

@media (max-width: 1300px) {
  :root {
    --graph-extension: 12.5rem;
  }
}

@media (max-width: 1220px) {
  :root {
    --graph-extension: 0px;
  }
}

.curriculum-graph {
  width: calc(100% + 2 * var(--graph-extension));
  margin-left: calc(-1 * var(--graph-extension));
  background-color: white;
  background-image: radial-gradient(circle at 1px 1px, #999 1px, transparent 0);
  background-size: 25px 25px;
}

@media (min-width: 960px) and (max-width: 1220px) {
  .curriculum-graph {
    width: calc(100% + 12.5rem);
  }
}

@media (min-width: 600px) {
  .graphwarning {
    display: none;
  }
}

@media (max-width: 600px) {
  .curriculum-graph {
    display: none;
  }
}

/**
Start curriculum graph styles
*/
.coursename {
  text-align: center;
  font-size: 14px;
  color: #0f2040;
  width: 100%;
}

.containerdiv {
  width: 200px;
  height: 75px;
  min-width: 30px;
  min-height: 30px;
  white-space: normal;
  text-align: center;
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}

/* Arrowhead */
marker path {
  fill: #0f2040;
  stroke: #0f2040;
}
