site_name: Dr. Everitt's Neighborhood
site_url: https://wiki.hkn.illinois.edu
theme:
  name: material
  palette:
    primary: custom
    accent: custom
    typeset: custom
  logo: assets/logo.svg
  favicon: assets/favicon.png
  features:
    - navigation.tabs
  custom_dir: overrides
  static_templates:
    - 404.html
extra_css:
  - styles/theme.css
extra:
  generator: false
  analytics:
    provider: google
    property: G-01G0XDGEP8
plugins:
  - search
  - bettertags:
      indexes:
        "Proficiency Exams/index.md": "*subfolder"
        "Course Wiki/index.md": "*subfolder"
        "Example Schedules/index.md": "*subfolder"
      tags_allowed:
        - Circuits
        - Electromagnetics
        - Radio frequency
        - Optics
        - Semiconductors
        - Power
        - Communications
        - Control systems
        - Robotics
        - Signal processing
        - Acoustics
        - Bioengineering

        - Artificial intelligence and machine learning
        - Digital design and computer architecture
        - Systems
        - Networking
        - Security
        - Quantum computing

        - Theoretical computer science
        - Software engineering
        - Numerical analysis
        - Parallel programming
        - Programming languages and compilers

        - Research
        - Senior design

        - Calculus
        - Differential equations
        - Linear algebra
        - Analysis
        - Probability
        - Data science

        - Classical mechanics
        - Thermal and statistical physics
        - Quantum mechanics
        - Relativity

  - git-revision-date-localized
  - mkdocs-simple-hooks:
      hooks:
        on_post_build: "docs.hooks:copy_static_files"
  - redirects:
      redirect_maps:
        "Course Wiki/CS Course Offerings/CS483.md": "Course Wiki/ECE Course Offerings/ECE408.md"
        "Course Wiki/CS Course Offerings/CS446.md": "Course Wiki/ECE Course Offerings/ECE449.md"
        "Course Wiki/CS Course Offerings/CS440.md": "Course Wiki/ECE Course Offerings/ECE448.md"
markdown_extensions:
  - footnotes